doctype html

html(lang="en")
    head
        title= 'index'
    body
        div(id='app')
            app
    script.
      init_data= !{init_data};
    script(src='http://libs.baidu.com/jquery/2.1.1/jquery.min.js')
    script(src='http://localhost:4444/index.js')
